.top-container {
  margin-top: 60px;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-group {
  margin-bottom: 15px; /* เพื่อให้มีระยะห่างระหว่างฟอร์ม */
}

.form-control {
  width: 100%; /* ทำให้ฟิลด์กรอกข้อมูลเต็มความกว้าง */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
}

textarea {
  width: 100%; /* ทำให้ textarea เต็มความกว้าง */
  resize: vertical;
}
